[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://www.github.com/flazz/vim-colorschemes.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://www.github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://www.github.com/tpope/vim-repeat.git
